:root
{
    --sky-high: #313359;
    --sky-low: #e27137;
    --water-high: #ba6b5e;
    --water-low: #5c476e;
    --sun: rgb(255, 203, 148);

    --ratio: 0;
    --gap: 5px;
    --filter: brightness(0.75) hue-rotate(20deg);
}

body
{
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background: var(--water-low);
}


.paralax-element
{
    position: absolute;
    left:0;
    right: 0;
    display: block;
    margin: 0;
    padding: 0;
    width: 100vw;
    transition: all 1s;
}



#paralax-1
{
    top:50vh;
    height: 50vh;
    background: linear-gradient(180deg, var(--water-high), var(--water-low));
    z-index: -1;
}

#paralax-2 {
	width: 20%;
	z-index: -1;
	animation: ducks 120s linear 0s infinite;
	top: 80vh;
}

@keyframes ducks {
    0% {margin-left:100vw;transform: scaleX(1);}  
    49% {margin-left:-20vw;transform: scaleX(1);}
    50% {margin-left:-20vw;transform: scaleX(-1);}
    99% {margin-left:100vw;transform: scaleX(-1);}
    100% {margin-left:100vw;transform: scaleX(1);}
}

#paralax-3
{
    background: url('../images/paralax-3.svg');
    z-index: -1;
    width: 70%;
    top:auto;
    left:auto;
    bottom: 47vh;
}

#paralax-4
{
    background: url('../images/paralax-4.svg');
    z-index: -2;
    top:40vh;
}

#paralax-5
{
    background: url('../images/paralax-5.svg');
    z-index: -3;
    top:38vh;
}

#paralax-6
{
    background: url('../images/paralax-6.svg');
    z-index: -4;
    top:33vh;
}

#paralax-7
{
    top: 25vh;
    background: url('../images/paralax-7.svg');
    z-index: -5;
    animation: clouds 60s cubic-bezier(.46,.03,.52,.96) 0s infinite;
}

@keyframes clouds {
    0% {margin-left:0vw;}  
    50% {margin-left:-20vw;}
    100% {margin-left:0vw;}
}


#paralax-8
{
    top:20vh;
    left:-20vw;
    position: relative;
}

#paralax-8 > div
{
    position: absolute;
    left:0;
    right:0;
    border-radius: 100%;
    background: var(--sun);
    margin: auto;
    top: 50%;
    transform: translate(0,-50%);
}

.paralax-8-sun:nth-child(1) 
{ 
    width: 7vh;
    height: 7vh;
    opacity: 0.7;
}

.paralax-8-sun:nth-child(2) 
{ 
    width: 12vh;
    height: 12vh;
    opacity: 0.05;
}

.paralax-8-sun:nth-child(3) 
{ 
    width: 18vh;
    height: 18vh;
    opacity: 0.05;
}


.paralax-8-sun:nth-child(4) 
{ 
    width: 24vh;
    height: 24vh;
    opacity: 0.03;
}

#paralax-9
{
    height: 50vh;
    background: linear-gradient(180deg, var(--sky-high), var(--sky-low));
    z-index: -6;
}



#bg,
#base,
#reflect {
  content: "";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: url(../images/paralax.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  pointer-events: none;
}
#bg {
  filter: var(--filter);
}
#reflect {
  filter: url(#filter) var(--filter);
  transform-origin: center;
    z-index: 2;
  transform: scale3d(1.1, -1.1, 1);
}
#base {
  mask-image: linear-gradient(
    to bottom,
    white,
    white calc(var(--ratio) - var(--gap)),
    rgba(255, 255, 255, 0) calc(var(--ratio) + var(--gap)),
    rgba(255, 255, 255, 0)
  );
}

svg {
  position: fixed;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  z-index: -1;
}